apiVersion: v1
kind: Service
metadata:
  name: fastapi-svc
spec:
  type: NodePort
  selector:
    app: fastapi
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30080   # You can access it at http://<minikube-ip>:30080
