name: Deploy FastAPI App to K8s

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.8.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Add remote host to known_hosts
      run: |
        ssh-keyscan -H 192.168.101.164 >> ~/.ssh/known_hosts

    - name: Deploy to remote server
      run: |
        ssh root@192.168.101.164 << 'EOF'
          cd /home/ceekh/fastapi-hello
          git pull origin main
          docker build -t fastapi-hello .
          docker stop fastapi-hello || true
          docker rm fastapi-hello || true
          docker run -d -p 8000:8000 fastapi-hello
        EOF
